<script setup lang="ts">import { useMessageStore } from '@/stores/message';

const messageStrre = useMessageStore();
</script>
<template>
 <v-snackbar
      v-model="messageStrre.isShow"
      multi-line
    >
     <v-icon icon="red" :size="32">mdi-alert-box-outline</v-icon> {{ messageStrre.message }}

      <template v-slot:actions>
        <v-btn
          color="red"
          variant="text"
          @click="messageStrre.isShow = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
</template>