<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const save = async () => {
const { valid } = await form.value!.validate();

  if (valid) {
    await productStore.saveProduct();
    productStore.dialog = false;
    form.value?.reset();
  }
};
const productStore = useProductStore();
</script>
<template>
  <v-dialog v-model="productStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="productStore.editProduct.name"
                  :rules="[
                    (v) => !!v || 'Name is required.',
                    (v) =>
                      v.length >= 5 || 'Name must be more than 5 characters.',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Pricee"
                  required
                  v-model.number="productStore.editProduct.price"
                  :rules="[(v) => !!v || 'Price is required.']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-form>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="productStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
