<script setup lang="ts">
import { useProductStore } from '@/stores/product';
import { onMounted } from 'vue';
import ProductDialog from './ProductDialog.vue';

const productStore = useProductStore()
onMounted(async () => {
    await productStore.getProducts();
}); 
</script>
<template>
    <ProductDialog></ProductDialog>
    <v-container>
    <v-btn @click="productStore.dialog = true" color="secondary">Add New</v-btn>
    <v-table style="text-align: center;">
        <thead >
            <tr >
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Operations</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="item of productStore.products" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td><v-btn class="mr-5" @click="productStore.EditProduct(item)" color="yellow">Edit</v-btn> <v-btn color="red" @click="productStore.deleteProduct(item.id!)">Delete</v-btn></td>
          </tr>
        </tbody>
    </v-table>
</v-container>
</template>
<style scoped>
.center {
    text-align: center;
}
</style>
