<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading';

const loadingStore = useLoadingStore()
</script>
<template>
      <v-dialog
      v-model="loadingStore.dialog"
      persistent
      width="auto"
    >
    <v-card>
        <v-card-text class="text-center">
            <div>Palse wait</div>
            <v-progress-circular
      indeterminate
      color="amber"
      :size="50"
    ></v-progress-circular>
        </v-card-text>
       
    </v-card>
    </v-dialog>
</template>