<script setup lang="ts">
import { ref } from "vue";
import MainLayout from '@/components/layouts/MainLayout.vue'
import FullLayout from '@/components/layouts/FullLayout.vue'
import LoadingView from "./components/LoadingView.vue";
import MessageDialog from "@/components/menu/MessageDialog.vue";

</script>

<template>
  <div>
    <component :is="$route.meta.layout ===  'MainLayout'? MainLayout : FullLayout"></component>
  <LoadingView></LoadingView>
  <MessageDialog></MessageDialog>
  </div>
</template>
