<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UsertDialog from "./UsertDialog.vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUser();
});
</script>
<template>
  <UsertDialog></UsertDialog>
  <v-container>
    <v-btn @click="userStore.dialog = true" color="secondary">Add New</v-btn>
    <v-table class="text-center">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Login</th>
          <th class="text-center">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of userStore.users" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.login }}</td>
          <td>
            <v-btn class="mr-5" color="yellow" @click="userStore.EditUser(item)"
              >Edit</v-btn
            >
            <v-btn color="red" @click="userStore.deleteUser(item.id!)">Delete</v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
